/* Hide scrollbar for a cleaner look */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


section#services {
    background-color: var(--bg-color);
    height: 100vh;

    display: flex;
    justify-content: center;

    position: relative;
    /* top: 5rem; */
    /* margin-top: 5rem; */
}

.services-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 1rem;

    width: 85%;
}

.services-container > h2 {
    color: var(--primary-font-color);
    font-size: calc(2rem + 2.5vw);

    position: relative;
}

.services-container > h2::after {
    content: '';
    position: absolute;
    top: 140%;
    left: 0;
    height: 5px;
    width: 15%;
    background-color: var(--secondary-color);
}

.services-container>h3 {
    color: white;
    font-size: calc(1rem + 1vw);
    margin: 1rem 0;
}
