body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  /* Full viewport height */
  display: flex;
  /* Center content */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

.heading {
  font-size: var(--font-size-heading2);
  color: var(--primary-font-color);
  margin-bottom: 2rem;
}

.para {
  font-size: var(--font-size-para);
  color: white;
}

#home {
  background-color: #f8f9fa;
}

#about {
  background-color: #e9ecef;
}

#services {
  background-color: #dee2e6;
}

#contact {
  background-color: #ced4da;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 1000;
}