*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
  /* font-family: 'Montserrat Alternates', sans-serif; */
}

body {
  --bg-color: rgba(0, 0, 0, 0.85);
  --primary-color: rgba(255, 255, 255, 0.5);
  --secondary-color: #ff6b00;
  /* --gray-color: #64707C; */
  --gray-color: #45494e;
  --primary-font-color: rgba(255, 255, 255, 0.5);
  --secondary-font-color: #ffffff;

  --font-size-para: calc(0.5rem + 0.5vw);
  --font-size-para-m: calc(0.6rem + 0.8vw);
  --font-size-heading: calc(1.5rem + 1vw);
  --font-size-heading2: calc(1.5rem + 0.8vw);
  --font-size-heading3: calc(1rem + 0.6vw);

  --letter-spacing: 0.1rem;

  background-color: var(--bg-color);
  font-size: 10px;
}

a:link,
a:active {
  text-decoration: none;
  color: white;
  display: flex;
}


@media only screen and (max-width:910px) {}

@media only screen and (max-width:500px) {}